.wrap {
  max-width: 1000px;
  background-color: $white;


  .header {
    background-color: $primary;
    width: 100%;
    color: $white;

  }

  .articl {

    .container {
      width: 30%;

      @include pad {
        width: 100%;
        order: 2;
        flex-direction: row;
        justify-content: space-between;
      }

      .apple {
        background-color: $secondary;

        @include pad {
          width: 30%;
        }

        @include mobile {
          width: 100%;
        }
      }

      .piapple {
        background-color: $tertiary;

        @include pad {
          width: 60%;
        }

        @include mobile {
          width: 100%;
        }
      }
    }

    .PPAP {
      width: 65%;
      background-color: $quaternary;

      @include pad {
        width: 100%;
        order: 1;
      }
    }
  }

  .footer {
    color: $white;
    border-radius: 10px;
    background-color: $primary;
  }

  .box {
    margin-top: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
  }
}