@charset "UTF-8";
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  box-sizing: border-box;
}

.df {
  display: flex;
}

.db {
  display: block;
}

.jcs {
  justify-content: start;
}

.jcfe {
  justify-content: flex-end;
}

.fdr {
  flex-direction: row;
}

.fdc {
  flex-direction: column;
}

.jcc {
  justify-content: center;
}

.jcsb {
  justify-content: space-between;
}

.jcsa {
  justify-content: space-around;
}

.jcse {
  justify-content: space-evenly;
}

.fww {
  flex-wrap: wrap;
}

.fwwr {
  flex-flow: wrap-reverse;
}

.aic {
  align-items: center;
}

.acc {
  align-content: center;
}

.aife {
  align-items: flex-end;
}

.ffrw {
  flex-flow: row wrap;
}

.ffcw {
  flex-flow: column wrap;
}

/* flex設定 END */
.h1 {
  font-size: 48px;
}

.h2 {
  font-size: 32px;
}

.h3 {
  font-size: 24px;
}

.h4 {
  font-size: 20px;
}

.h5 {
  font-size: 18px;
}

.h6 {
  font-size: 16px;
}

.h7 {
  font-size: 12px;
}

.h29 {
  font-size: 29px;
}

.fwb {
  font-weight: bold;
}

.fsi {
  font-style: italic;
}

.tac {
  text-align: center;
}

.ma {
  margin: 0 auto;
}

.wrap {
  font-family: "Noto Sans TC";
}

.r {
  background-color: red;
}

.b {
  background-color: blue;
}

.g {
  background-color: green;
}

.bn {
  color: #56c4c5;
}

.swg {
  color: #3F5D45;
}

.fw {
  color: #FFFFFF;
}

.-dn {
  display: none;
}

.wrap {
  max-width: 1920px;
}
.wrap .c-banner {
  background: no-repeat url("../img/imgfortest/banner.png");
  background-size: cover;
  background-position: top center;
  width: 100%;
  height: 985px;
  box-sizing: border-box;
}
.wrap .c-banner .content {
  color: #ffffff;
  box-sizing: border-box;
}
.wrap .c-banner .content .title {
  font-size: 80px;
  margin: 32px 0px;
}
.wrap .c-banner .content .platform {
  margin-top: 40px;
}
.wrap .c-banner .content .platform a {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.wrap .c-about {
  margin: 56px 0px;
}
.wrap .c-about .content {
  box-sizing: border-box;
  width: 40%;
}
.wrap .c-about .content .title {
  font-size: 64px;
  margin-bottom: 40px;
}
.wrap .c-about .content .about-img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  margin-bottom: 20px;
}
.wrap .c-about .content .aboutul {
  border-top: 1px solid black;
  margin-top: 30px;
}
.wrap .c-about .content .aboutul li {
  margin-top: 20px;
}
.wrap .c-about .content .aboutul li::before {
  content: "•";
  color: #891818;
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -2rem;
}
.wrap .c-brand {
  color: #ffffff;
  background-color: black;
}
.wrap .c-brand .brandtext {
  margin-bottom: 56px;
}
.wrap .c-brand .brandtext .title {
  font-size: 64px;
  padding-top: 56px;
}
.wrap .c-brand .brandtext .h3 {
  margin: 20px 0px 32px;
}
.wrap .c-brand .brandimg-1 {
  width: 30%;
  display: block;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .wrap .c-brand .brandimg-1 {
    width: 80%;
  }
}
.wrap .c-brand .imgarea {
  padding-bottom: 100px;
}
@media (max-width: 768px) {
  .wrap .c-brand .imgarea {
    width: 80%;
  }
}
.wrap .c-brand .imgarea .brandimg-2 {
  width: 25%;
}
@media (max-width: 768px) {
  .wrap .c-brand .imgarea .brandimg-2 {
    width: 100%;
  }
}
.wrap .c-brand .imgarea .brandimg-3 {
  width: 25%;
}
@media (max-width: 768px) {
  .wrap .c-brand .imgarea .brandimg-3 {
    width: 100%;
    margin-top: 50px;
  }
}
@media (max-width: 768px) {
  .wrap .c-other {
    margin-top: 30px;
  }
}
.wrap .c-other .title {
  font-size: 64px;
}
.wrap .c-other .h4 {
  margin: 30px 0px;
}
.wrap .c-other .imgarea {
  width: 60%;
}
.wrap .c-other .card {
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .wrap .c-other .card .h4 {
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .wrap .c-other .card {
    width: 100%;
  }
}
.wrap .c-other .card img {
  width: 100%;
}
.wrap .c-other .card:nth-child(4) {
  width: 47%;
}
@media (max-width: 768px) {
  .wrap .c-other .card:nth-child(4) {
    width: 100%;
  }
}
.wrap .c-other .card:nth-child(5) {
  width: 47%;
}
@media (max-width: 768px) {
  .wrap .c-other .card:nth-child(5) {
    width: 100%;
  }
}
.wrap .c-footer {
  background-color: black;
  color: #ffffff;
}
.wrap .c-footer .textarea {
  padding: 64px 0px;
  width: 30%;
}
@media (max-width: 768px) {
  .wrap .c-footer .textarea {
    width: 50%;
  }
}
.wrap .c-footer .textarea .title {
  font-size: 64px;
}
.wrap .c-footer .textarea .mail {
  margin: 20px 0px;
}/*# sourceMappingURL=all.css.map */